* {
    font-family: "Open Sans", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}



.card {
    width: 350px;
    height: 600px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card img {
    width: 350px;
    
}

table {
    margin: 20px;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

.fa {
    font-size: 30px;
    padding: 10px;
}

.fa-facebook, .fa-linkedin, .fa-github {
    color: #000;
    text-decoration: none;
}

button {
    margin-top: auto;
    padding: 10px 20px;
    width: 200px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.title-name {
    font-weight: bold;
    font-size: xx-large;
}

.role-text {
    font-weight: 500;
    font-size: 19px;
}

.description {
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
}